<div class="container">

    <div class="row">

      <div class="col-md-offset-1 col-md-10">

        <h1>Welcome To Expert Dog Walkers Inc.</h1>

        <h1><img src="teddytongueout.jpg" width="300" height="300"><img src="teddytongueout.jpg" width="300" height="300"><img src="teddytongueout.jpg" width="300" height="300"></h1>

        <h5> Mission: Here at Expert Dog Walkers Inc. it is our goal to provide your treasured pet with a "home away from home" experience. We make it our mission to provide excellent, experienced and individual care to your favorite pouch, where you just need a break for the day to get some work done or you're taking a 2-week vaction to Fiji and you want to sleep well at night knowing your best bud is well cared for.</h5>

        <div class="col-md-offset-1 col-md-10">
          <div class="btn-group btn-group-justified">
            <a href="users/sign_up" class="btn btn-primary">
              Create A Free Account Now!
            </a>
          </div>
        </div>

      </div>

    </div>

</div>
